

aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
libtool
m4
Makefile
Makefile.in
*.pyc
src/.deps
src/.libs
src/*.o
src/*.lo
src/libromancalc.la
src/main
src/Makefile
src/Makefile.in
src/*.pyc
src/exlm/*.pyc
stamp-h1
tests/.deps
tests/.libs
tests/*.o
tests/*.lo
tests/check_romancalc
tests/check_romancalc.trs
tests/Makefile
tests/Makefile.in
.DS_Store